%h4 Attributes
%table.drop-attributes
  %tr
    %th.name Attribute
    %th.type Type
    %th.desc
  - descriptions = drop_class._attr_descriptions
  - descriptions.keys.sort.each do |key|
    %tr
      %td.name
        %span.mono= key
      %td.type
        %span.tag= descriptions[key].try(:[], :type)
      %td.desc= markdown descriptions[key].try(:[], :desc)
%h4 Associations
%table.drop-associations
  %tr
    %th.type Type
    %th.name Name
    %th.desc
  - associations = drop_class._associations
  - associations.keys.sort.each do |key|
    %tr
      %td.type
        %span= associations[key][:type]
      %td.name
        %span.mono= key
      %td.desc= markdown associations[key].try(:[], :description).try(:[], :desc) || "#{associations[key][:type].to_s.humanize} #{key}"
