.panel
  %h3 Session Configurations
  .panel_contents
    .attributes_table
      %table{:border => 0, :cellspacing => 0, :cellpadding => 0}
        %tbody
          - @session_config_version_dates.each do |version, dates|
            %tr
              %th= link_to(version, download_configuration_at_version_admin_session_path(@session, :version => version))
              %td
                %p= "First Use: #{pretty_format(dates[:min])}"
                %p= "Last Use: #{pretty_format(dates[:max])}"
                %p= link_to(@session_config_versions[version].size.to_s + ' Cases', admin_cases_path(:'q[id_in]' => @session_config_versions[version]))

- @forms.each do |form_id, form|
  .panel
    %h3= "Form #{form.name} Configurations"
    .panel_contents
      .attributes_table
        %table{:border => 0, :cellspacing => 0, :cellpadding => 0}
          %tbody
            - @form_config_version_dates[form_id].each do |version, dates|
              %tr
                %th
                  = link_to(version, download_configuration_at_version_admin_form_path(form, :version => version))
                  = link_to('(JS Validations)', download_custom_validators_at_version_admin_form_path(form, :version => version))
                %td
                  %p= "First Use: #{pretty_format(dates[:min])}"
                  %p= "Last Use: #{pretty_format(dates[:max])}"
                  %p= link_to(@form_config_versions[form_id][version].size.to_s + ' Cases', admin_cases_path(:'q[id_in]' => @form_config_versions[form_id][version]))
