= semantic_form_for @session, :url => deep_clone_admin_session_path(@session), :method => :post do |f|
  = f.inputs 'New Session Details' do
    = f.input :name
    = f.input :study
  = f.inputs 'Components' do
    = f.input 'Components to clone', :as => :check_boxes, :collection => ['Forms', 'Cases', 'Patients', 'Readers', 'Validators'], :hint => 'Cloning cases als implies cloning patients.'

  = f.actions do
    = f.action :submit, :as => :input, :label => 'Clone Session'
    = f.action :cancel, :as => :link, :label => 'Cancel', :wrapper_html => {:class => 'cancel'}