- @sessions.each do |session|
  .panel
    %h3= link_to(session.name, admin_session_path(session))
    .panel_contents
      .attributes_table
        %table{:border => 0, :cellspacing => 0, :cellpadding => 0}
          %tbody
            %tr
              %th Cases
              %td
                - if @cases_counts[session.id].nil? or @cases_counts[session.id].empty?
                  Not Available
                - else
                  - counts = @cases_counts[session.id]
                  - column_totals = {}
                  %table
                    %thead
                      %tr
                        %th
                        - counts.first[1].each do |name, value|
                          - column_totals[name] = 0
                          %th= name.to_s.humanize
                        %th Total
                    %tbody
                      - counts.each do |state, columns|
                        %tr
                          %th= state.to_s.humanize
                          - total = 0
                          - columns.each do |flag, value|
                            - column_totals[flag] += value
                            - total += value
                            %td= link_to(value.to_s, admin_cases_path(:'q[session_id_eq]' => session.id, :'q[state_eq]' => Case::state_sym_to_int(state), :'q[flag_eq]' => Case::flag_sym_to_int(flag)))
                          %td= link_to(total.to_s, admin_cases_path(:'q[session_id_eq]' => session.id, :'q[state_eq]' => Case::state_sym_to_int(state)))
                      %tr
                        %th Total
                        - total = 0
                        - column_totals.each do |flag, value|
                          - total += value
                          %td= link_to(value.to_s, admin_cases_path(:'q[session_id_eq]' => session.id, :'q[flag_eq]' => Case::flag_sym_to_int(flag)))
                        %td= link_to(total.to_s, admin_cases_path(:'q[session_id_eq]' => session.id))
            %tr
              %th Readers
              %td
                - if @reader_cases[session.id].nil?
                  Not Available
                - elsif @reader_cases[session.id].empty?
                  None
                - else
                  %ul
                    - @reader_cases[session.id].each do |entry|
                      %li
                        = (link_to(entry[:reader].name, admin_user_path(entry[:reader])) + ': '+entry[:cases].size.to_s).html_safe
                        - unless entry[:cases].empty?
                          %ul
                            - entry[:cases].each do |c|
                              %li= link_to(c.name, admin_case_path(c))