.row-fluid
  .offset4.span4
    = form_for(resource, :as => resource_name, :url => user_session_path, :html => { :class => 'form-login'}) do |f|
      %h2.form-signin-heading
        PharmTrace Study Server

      = f.email_field(:email, :class => 'input-block-level', :placeholder => 'Email address')
      = f.password_field(:password, :class => 'input-block-level', :placeholder => 'Password')

      - if devise_mapping.rememberable?
        = f.label(:remember_me, :class => 'checkbox') do
          = f.check_box :remember_me
          Remember me
          .pull-right= f.submit("Sign in", :class => 'btn btn-primary btn-large')

          -#      = render "devise/shared/links"
