.panel
  %h3 mQC Details
  .panel_contents
    .attributes_table
      %table{:border => 0, :cellspacing => 0, :cellpadding => 0}
        %tbody
          %tr
            %th Visit State
            %td
              - case(@visit.state_sym)
              - when :incomplete_na then
                = status_tag('Incomplete, not available')
              - when :complete_tqc_passed then
                = status_tag('Complete, tQC of all series passed', class: 'ok')
              - when :incomplete_queried then
                = status_tag('Incomplete, queried', class: 'warning')
              - when :complete_tqc_pending then
                = status_tag('Complete, tQC not finished', class: 'warning')
              - when :complete_tqc_issues then
                = status_tag('Complete, tQC finished, not all series passed', class: 'error')
          %tr
            %th Medical Assessment
            %td
              - case(@visit.mqc_state_sym)
              - when :pending then
                = status_tag('Pending')
              - when :issues then
                = status_tag('Performed, issues present', class: 'error')
              - when :passed then
                = status_tag('Performed, passed', class: 'ok')                
          %tr
            %th Date
            %td= pretty_format(@visit.mqc_date.localtime) unless @visit.mqc_date.nil?
          %tr
            %th User
            %td= link_to(@visit.mqc_user.name, admin_user_path(@visit.mqc_user)) unless @visit.mqc_user.nil?
          %tr
            %th Comment
            %td= @visit.mqc_comment

.panel
  %h3 mQC Question
  .panel_contents
    .attributes_table
      %table{:border => 0, :cellspacing => 0, :cellpadding => 0}
        - @mqc_spec.each do |question|
          %tr
            %th= question['label']
            %td
              - if question['answer'] == true
                %span.status_tag.Pass.ok Pass
              - else
                %span.status_tag.Fail.error Fail
