%table
  %thead
    %tr
      %th Field
      %th Previous Value
      %th New Value
  %tbody
    - changeset.each do |field, (was, became)|
      %tr
        %td
          - if item
            %p= simple_format(item.class.human_attribute_name(field))
            %p= '(' + field + ')'
          - else
            %p= field
        %td
          - if(field == 'state' and item and item.class and item.class.respond_to?(:int_to_state_sym))
            = item.class.int_to_state_sym(was.to_i).to_s
          - elsif(field == 'flag' and item and item.class and item.class.respond_to?(:int_to_flag_sym))
            = item.class.int_to_flag_sym(was.to_i).to_s
          - elsif(field == 'mqc_state' and item and item.class and item.class.respond_to?(:int_to_mqc_state_sym))
            = item.class.int_to_mqc_state_sym(was.to_i).to_s
          - else
            = was
        %td
          - if(field == 'state' and item and item.class and item.class.respond_to?(:int_to_state_sym))
            = item.class.int_to_state_sym(became.to_i).to_s
          - elsif(field == 'flag' and item and item.class and item.class.respond_to?(:int_to_flag_sym))
            = item.class.int_to_flag_sym(became.to_i).to_s
          - elsif(field == 'mqc_state' and item and item.class and item.class.respond_to?(:int_to_mqc_state_sym))
            = item.class.int_to_mqc_state_sym(became.to_i).to_s
          - else
            = became
