%table
  %thead
    %tr
      %th Field
      %th Previous Value
      %th New Value
  %tbody
    - changeset.each do |field, values|
      %tr
        %td
          - if item
            %p= simple_format(item.class.human_attribute_name(field))
            %p= '(' + field + ')'
          - else
            %p= field
        %td= values[0]
        %td= values[1]
