.row-fluid
  .offset4.span4
    = form_for(@user, :url => users_update_password_path, :html => { :class => 'form-login'}) do |f|
      %h2.form-signin-heading
        Please change your password

      = f.password_field(:current_password, :class => 'form-control', :placeholder => 'Current Password')
      = f.password_field(:password, :class => 'form-control', :placeholder => 'New Password')
      = f.password_field(:password_confirmation, :class => 'form-control', :placeholder => 'New Password Confirmation')

      = f.submit("Change", :class => 'btn btn-primary btn-large')
