.row-fluid
  .offset4.span4
    = form_for(@user, :url => users_update_password_path, :html => { :class => 'form-login'}) do |f|
      %h3.form-signin-heading
        Please change your password
      .form-group.form-group-lg
        = f.password_field(:current_password, :class => 'form-control', :placeholder => 'Current Password')
      .form-group.form-group-lg
        = f.password_field(:password, :class => 'form-control', :placeholder => 'New Password')
      .form-group.form-group-lg
        = f.password_field(:password_confirmation, :class => 'form-control', :placeholder => 'New Password Confirmation')
      .pull-right= f.submit("Change", :class => 'btn btn-primary btn-lg')
