<link rel="stylesheet" href="/vendor/formio.full.min.css">
<script src="/vendor/formio.full.min.js"></script>
<div id="builder"></div>
<form id="hidden-form" action="/admin/form_definitions/<%= @form_definition_id %>/update_form_schema" method="post" style="display: none">
  <input type="hidden" name="layout" value="">
  <% if @previous_configuration_id %>
  <input type="hidden" name="previous_configuration_id" value="<%= @previous_configuration_id %>">
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
<script>
  window.form_definition_id = <%= @form_definition_id.to_json.html_safe %>;

  $(document).ready(function() {

      Formio.builder(document.getElementById('builder'), JSON.parse(<%= @form_layout.to_json.html_safe %>), {
	  noNewEdit: true,
	  alwaysConfirmComponentRemoval: true,
	  noDefaultSubmitButton: true,
	  editForm: {
	  }
      }).then(function(builder) {
	  window.builder = builder;
	    builder.on('saveComponent', function() {
	  });
	  console.log(builder);

      });
      function onChange(event) {
	  var reader = new FileReader();
	  reader.onload = onReaderLoad;
	  reader.readAsText(event.target.files[0]);
      }

      function onReaderLoad(event){
	  console.log(event.target.result);
	  var obj = JSON.parse(event.target.result);
	  console.log(obj);
	  window.builder.setForm(obj)
      }

      $("#upload-file").on("change", onChange)

      $("#save_form_definition").click(function(e) {
	  e.preventDefault();
	  $("#hidden-form [name=layout]").val(JSON.stringify(window.builder.schema))
	  $("#hidden-form").submit();
      });
  })
</script>
