- docs = Ability.documentation(subject, activity)
%div{ class: "activity #{activity} custom-dropdown #{state == "show" && !checked ? "hidden" : ""}" }
  %span{ class: "hoverable" }
    = check_box_tag "role[abilities][]", ability, checked, id: ability, disabled: disabled, 'data-activity' => activity, 'data-subject' => subject
    %label{ for: ability }
      = activity
      - unless docs.empty?
        = "*"
    - unless docs.empty?
      %div{ class: "custom-dropdown-menu bottom"}
        %ul
          - docs.each do |doc|
            %li= doc
