#form-navbar.navbar.navbar-fixed-top
  .navbar-inner
    %a.brand= @case.name
    %ul.nav
      %li
        %form.navbar-form
          .input-prepend.input-append
            %a.btn#form_nav_previous_btn{:href => '#', :disabled => true} <
            %select#form_nav_select
              %option{:value => 'form-top'} Start
              - @form_config.each do |field|
                - if(field['type'] == 'group')
                  %option{:value => 'group-heading-'+field['id']}= field['label']
            %a.btn#form_nav_next_btn{:href  => '#'} >
      %li.divider
      %li.dropdown
        %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
          Add..
          %span.caret
        %ul.dropdown-menu
          - @repeatables.each do |repeatable|
            %li
              %a.add-repeat-btn{:'data-id' => repeatable[:id], :'data-max-repeats' => repeatable[:max], :href => '#'}= repeatable[:label]
      - unless @passive_series_list.empty?
        %li.divider
        %li.dropdown
          %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
            Image Series..
            %span.caret
          %ul.dropdown-menu
            - @passive_series_list.each do |passive_case|
              - if passive_case.nil?
                %li.divider
                - next
              - next if (passive_case[:series].nil? or passive_case[:series].empty?)              
              %li.dropdown-submenu
                %a{:tabindex => -1, :href => '#'}= passive_case[:case_name]
                %ul.dropdown-menu
                  - passive_case[:series].each do |series|
                    %li
                      - series_uid = "#{passive_case[:case_name]}/#{series}"
                      %a.roi_link{:href => '#', :onclick => "PharmTraceAPI.jumpToImage('#{series_uid}', 0); return false;"}= series
    %button#refresh-rois-btn.btn.pull-right{:type => 'button', :'data-loading-text' => 'Refreshing...'} Refresh Measurements
    %button#recalc-btn.btn.pull-right{:type => 'button', :'data-loading-text' => 'Recalculating...'} Recalculate
