%tr
  - unless (current_group_index.nil?)
    - if(first_in_group)
      %th.form-group-index-cell= (placeholders_only ? '' : current_group_index)
    - else
      %td
    %td= (field_spec['label'].nil? ? '' : field_spec['label'].html_safe)
  - else
    %td{:colspan => 2}= field_spec['label'].html_safe
  - printable_answers.each_with_index do |answers,case_index|
    - answer = answers.find {|f| f['id'] == field_spec['id']}
    - if (!answer.nil? and answer['type'] == 'fixed')
      %td= format_fixed_value(fixed_value(answer, case_for_case(cases[case_index]).data_hash)[0])
    - elsif placeholders_only
      %td.results-table-placeholder-cell{:name => field_spec['id'], :'data-type' => field_spec['type']}
    - elsif answer.nil?
      %td
    - else
      %td
        = answer['answer'].respond_to?(:to_s) ? simple_format(answer['answer'].to_s) : answer['answer']
        - if(field_spec['type'] == 'roi' and roi_links and not (answer['seriesUID'].nil? or answer['imageIndex'].nil?))
          %a.roi_link{:href => '#', :onclick => "PharmTraceAPI.jumpToImage('#{answer['seriesUID']}', #{answer['imageIndex']}); return false;"} Jump to ROI
  - if(defined?(data_cleaning_buttons) and (data_cleaning_buttons == true) and form_answer_for_case(cases.first) and not ['fixed', 'group', 'section'].include?(field_spec['type'])) and (field_spec['type'] != 'calculated' or field_spec['store_calculated_value'])
    %td= link_to('Clean!', data_cleaning_form_admin_form_answer_path(form_answer_for_case(cases.first), :field_id => field_spec['id']))
