#form_area.offset1.span10
  .form-actions
    %button#refresh-rois-btn.btn.pull-right{:'data-loading-text' => 'Refreshing...'} Refresh Measurements
  = form_tag('', :class => 'form-horizontal', :id => 'the_form') do
    = hidden_field_tag('form_id', @form.id)
    .control-group.error
      .controls
        %p#custom-validation-help-block.help-block
    - @form_config.each do |field|
      - if(field['type'] == 'add_repeat')
        .form-actions
          %span= field['group-label']
          %a.btn.add-repeat-btn.pull-right{:'data-id' => field['id'], :href => '#'}= field['button-label']
      - elsif(field['type'] == 'divider')
        %hr
      - else
        .row.form-row-padding
          .control-group.span5
            = render "forms/field_#{field['type']}", :field => field, :input_size => 'input-xlarge'
          .muted.span5= field['description']
    .form-actions
      %button.btn.btn-primary{:type => 'submit'} Submit Answers

#preview_modal.modal.hide.fade
  .modal-header
    %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => true} &times;
    %h3 Please verify your answers
  .modal-body
    - @form_config.each do |field|
      - if(field['type'] == 'add_repeat')
        %h3= field['group-label']
      - elsif(field['type'] == 'divider')
        %hr
      - else
        = render "forms/field_preview", :field => field
  .modal-footer
    %button.btn{:'data-dismiss' => 'modal', :'aria-hidden' => true} Change Answers
    %button#preview_submit_btn.btn.btn-primary{:'data-loading-text' => 'Submitting...'} Submit Answers

#print_version.hide
  .row-fluid
    .offset2.span10
      %h2.print-header Your answers
      %div.print-body
        - @form_config.each do |field|
          - if(field['type'] == 'add_repeat')
            %h3= field['group-label']
          - elsif(field['type'] == 'divider')
            %hr
          - else
            = render "forms/field_preview", :field => field
      %strong.print-signature I hereby declare that these are indeed my very own answers:
      %div.signature-div
        .signature-line
        %p.pull-right.muted (Please sign here)