= render 'navbar'

.container.row-fluid
  - if(@show_previous_results and not @previous_cases.nil?)
    = render 'forms/previous_cases_tables'

  #form_area.offset1.span10
    - unless (@form.description.nil? or @form.description.empty?)
      %p= simple_format(@form.description)
    = form_tag('', :class => 'form-horizontal', :id => 'the_form') do
      = hidden_field_tag('form_id', @form.id)
      - current_group_index = nil
      - first_in_group = false
      %a.offset-anchor#form-top
      - @form_config.each do |field|
        - if(field['type'] == 'include_start')
          - current_group_index = 1
          - first_in_group = true
        - elsif(field['type'] == 'include_divider')
          - current_group_index += 1
          - first_in_group = true
          %hr
        - elsif(field['type'] == 'section')
          %hr
        - elsif(field['type'] == 'include_end')
          - current_group_index = nil
          - first_in_group = false
          %div{:id => "repeatable_group_end_form_#{field['id']}"}
        - elsif(field['type'] == 'group')
          .form-actions.form-group-header
            %a.offset-anchor{:id => 'group-heading-'+field['id']}
            %h3.pull-left.form-group-heading= field['label']
            - unless(field['belongs_to_repeatable'].nil?)
              - repeatable = @repeatables_map[field['belongs_to_repeatable']]
              - next if repeatable.nil?
              %a.btn.add-repeat-btn.pull-right{:'data-id' => repeatable[:id], :'data-max-repeats' => repeatable[:max], :href => '#'}= "Add #{repeatable[:label]}"
        - else
          .row-fluid.form-row-padding{:class => (field['indent'] == true ? 'indented-field-row' : '')}
            .control-group.pull-left
              - if (!current_group_index.nil? && first_in_group)
                - first_in_group = false
                %h3.form-group-index.pull-left= current_group_index
              = render "forms/field_#{field['type']}", :field => field, :input_size => 'input-xlarge', :data_hash => @data_hash, :show_internal_annotations => (defined?(@show_internal_annotations) and @show_internal_annotations == true)
            .dark-muted.form-field-description
              - if(defined?(@show_internal_annotations) and @show_internal_annotations == true)
                .data_dict_field_id= field['id']
              = (field['description'].nil? ? '' : field['description'].html_safe)
      .form-actions
        %button.btn.btn-primary{:type => 'submit'} Submit Answers
        %p.submit-errors.text-error
      .control-group.error
        .controls
          %p#custom-validation-help-block.help-block

  #preview_modal.modal.hide.fade
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => true} &times;
      %h3 Please verify your answers
    .modal-body
      = render 'forms/results_table', :placeholders_only => true, :cases => [@case], :form_config => @form_config, :caption => '', :skip_header => true, :display_type => 'preview'
    .modal-footer
      %button.btn{:'data-dismiss' => 'modal', :'aria-hidden' => true} Change Answers
      %button#preview_submit_btn.btn.btn-primary{:'data-loading-text' => 'Submitting...'} Submit Answers

  #repeatables.hide
    - @repeatables.each do |r|
      %div{:id => "repeatable_form_#{r[:id]}"}
        - first_field = true
        - r[:config].each do |field|
          - if(field['type'] == 'include_divider') or (field['type'] == 'section')
            %hr
          - else
            .row-fluid.form-row-padding
              .control-group.pull-left
                - if(first_field)
                  -# first_field = false
                  %h3.form-group-index.pull-left
                - repeatable_field = field.clone
                - repeatable_field[:is_repeatable] = true
                = render "forms/field_#{field['type']}", :field => repeatable_field, :input_size => 'input-xlarge', :data_hash => @data_hash
              .dark-muted.form-field-description= (field['description'].nil? ? '' : field['description'].html_safe)
              - if(first_field)
                - first_field = false
                %a.remove-repeat-btn.pull-right{:href => '#', :'data-id' => r[:id], :'data-min-repeats' => r[:min]} &times;
      %table{:id => "repeatable_table_#{r[:id]}"}
        - first_in_group = true
        - r[:config].each do |field|
          - if(field['type'] == 'include_divider')
            - first_in_group = true
          - else
            = render 'forms/results_table_row', :current_group_index => 0, :first_in_group => first_in_group, :field_spec => field, :printable_answers => [r[:config]], :cases => [@case], :placeholders_only => true
            - first_in_group = false
