%p
  Dear
  = succeed "," do
    = @resource.name
%p
  Someone has requested a link to change your password.
  %br
  You can do this through the link below.
%p.center.large
  = link_to 'Change My Password', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary'
%p
  Or copy this link to your browser window:
%p.center.large
  = link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
.alert.alert-info
  This is an automated e-mail. Please do not reply to this e-mail. If you need to contact us, please look at:
  = link_to root_url, root_url
