= form_tag(batch_assign_to_visit_admin_image_series_index_path(:return_url => @return_url), :method => :post, :multipart => true, :class => 'formtastic form') do
  = hidden_field_tag('image_series', selection)

  = field_set_tag('<span>Assign to Visit</span>'.html_safe, :class => 'inputs') do
    %ol
      %li.input.select
        = label_tag('visit_id', 'Visit')
        = select_tag('visit_id', '<option value="new">Create new Visit</option>'+options_from_collection_for_select(visits, 'id', 'name'), :include_blank => true)

  = field_set_tag('<span>When creating a new Visit</span>'.html_safe, :class => 'inputs') do
    %ol
      %li.input.string.required
        = label_tag('visit[visit_number]', 'Visit Number')
        = text_field_tag('visit[visit_number]')
      %li.input.select.required
        = label_tag('visit[visit_type]', 'Visit Type')
        = select_tag('visit[visit_type]', options_for_select(visit_types), :include_blank => true)
      %li.input.string
        = label_tag('visit[description]', 'Description')
        = text_field_tag('visit[description]')

  = field_set_tag(nil, :class => 'actions') do
    %ol
      %li.action.input_action
        = submit_tag('Assign')
      %li.cancel
        = link_to('Cancel', @return_url)
