= form_tag(batch_export_admin_cases_path, :method => :post, :multipart => true, :class => 'formtastic form') do
  = hidden_field_tag('cases', selection)
  = hidden_field_tag('return_url', return_url)

  = field_set_tag('<span>Export Settings</span>'.html_safe, :class => 'inputs') do
    %ol
      %li.input.select
        = label_tag('export_format', 'Format')
        = select_tag('export_format', options_for_select([['CSV', 'csv'], ['CSV for Excel', 'csv_excel']]), :include_blank => false)
      %li.input.file
        = label_tag('export_specification', 'Export Specification')
        = file_field_tag('export_specification')

  = field_set_tag(nil, :class => 'actions') do
    %ol
      %li.action.input_action
        = submit_tag('Export')
      %li.cancel
        = link_to('Cancel', admin_cases_path)
