= semantic_form_for @resource, :url => url_for(:action => :edit_erica_comment, :return_url => @return_url), :method => :post do |f|
  = f.inputs 'Edit '+@label do
    = f.input @field

  = f.actions do
    = f.action :submit, :as => :input
    = f.action :cancel, :as => :link, :wrapper_html => {:class => 'cancel'}
