= form_tag(url_for(:action => :edit_erica_tags, :return_url => @return_url), method: :post, multipart: true, class: 'formtastic form') do
  = field_set_tag(('<span>Edit '+@label+'</span>').html_safe, class: 'inputs') do
    %ol
      %li.input.text
        = label_tag('tags[]', @label)
        = select_tag('tags[]', options_for_select(@resource.tag_list_on(@context), @resource.tag_list_on(@context)), multiple: :multiple, data: {allownew: can?(:create_tags, @resource), placeholder: 'Enter tags', saved: @resource.tags_on(@context).map {|t| {id: t.name, name: t.name}}.to_json, url: autocomplete_tags_path(@resource, context: @context)}, class: "no-auto-select2 tagselect")

  = field_set_tag(nil, class: 'actions') do
    %ol
      %li.action.input_eaction
        = submit_tag('Submit')
      %li.cancel
        = link_to('Cancel', :back)
