!!! 5
%html
  %head
    %title Data Entry Form
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "forms_bootstrap_and_overrides", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    - unless @previous_results.nil?
      :javascript
        window.results_list = #{JSON::generate(@previous_results)}
        window.full_form_config = #{JSON::generate(@form_config)}
        window.form_config_repeatables = #{JSON::generate(@repeatables_map)}
    - unless @form_components.nil?
      - unless @form_components[:validators].nil?
        :javascript
          #{@form_components[:validators]}
      - unless @form_components[:stylesheets].nil?
        :css
          #{@form_components[:stylesheets]}

  %body
    //.container
    = yield
